body {
    padding: 0px;
    background-color: bisque;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
}

p {
    text-align: center;
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    width: 70%;
    position: relative;
    left: 15%;
}