body {
    padding: 0px;
    background-color: bisque;
    text-align: center;
}

h1, h2 {
    background-color: antiquewhite;
    display: inline;
}

.content {
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    width: 70%;
    position: relative;
    left: 15%;
}

li {
    text-align: start;
}


pre code {
    text-align: start;
    background-color: rgb(100, 100, 100);
    color: pink;
    display: block;
    word-break: break-all;
    position: relative;
    border-style: solid;
    border-color:  rgb(100, 100, 100);
    border-radius: 5px;
    left: 17.5%;
    width: 65%;
}