:root {
    --bg_color: bisque;
    --h_bg_color: antiquewhite;
    --content_bg_color: blanchedalmond;
    --border_color: chocolate;
    --code_bg_color: #646464;
    --code_color: pink;
    --nav_link_color:  cadetblue;
    --link_color: cornflowerblue;
}

body {
    padding: 2px;
    background-color: var(--bg_color);
    text-align: center;
}

h1, h2, .heading {
    background-color: var(--h_bg_color);
    display: inline;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--h_bg_color);
    padding: 5px;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    padding: 1%;
    background-color: var(--content_bg_color);
    width: 70%;
    position: relative;
    left: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    border-color: var(--border_color);
}

li {
    text-align: start;
}


pre code {
    text-align: start;
    background-color: var(--code_bg_color);
    color: pink;
    display: block;
    word-break: break-all;
    position: relative;
    border-style: solid;
    border-color:  var(--code_bg_color);
    border-radius: 5px;
    left: 17.5%;
    width: 65%;
}

nav {
    text-align: start;
    margin: 5px;
    padding: 5px;
}
nav > h3 {
    border-style: solid;
    display: inline;
    padding: 1px;
    border-radius: 5px;
    background-color: var(--h_bg_color);
    border-color: var(--h_bg_color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav > h3 > a {
    text-decoration: none;
    color: var(--nav_link_color);
}

a {
    color: var(--link_color);
}